$bg-col: #9BA71C;//#ffb9ad;
$poop-col: #8E2800;//#d88a63;
$stats-height: 100px;
$breakpoint-1: '(max-width: 500px)';

// $yellow: '#f9d70d',
// $olive: '#627530',
// $taupe: '#b6b0ad',
// $chocolate: '#b64926',
// $darkChocolate: '#4f2502',
// $black: '#3d3d3d',
// $burgundy: '#a12727',
// $beige: '#b68c7c'